 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
h1,h2,h3,h4,h5,h6,p,div,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*PREFIX CLASSES : */

.center {
	text-align: center;
}

/*EINDE PREFIX CLASSES  */

/*Start algemene style*/

body {
	margin: 0;
	padding: 0;
	font-family:  'open sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
		position: relative;

}

a {
	color: #000;
}

p {
	font-size: 1.1em;
	padding-bottom: 10px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h1,h2,h3 {
	padding-bottom: 15px;
	margin-bottom: 10px;
}

input {
	width: 250px;
	height: 30px;
	padding: 2px 5px;
	font-weight: bold;
	font-size: 1.1em;
}

p.submit input {
	width: 150px;
	height: 50px;
	background-color: #57EC57;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	border:none;
}

.submit input:hover {
	background-color: #3DBC33;
}

section.main {
	background-color: #F0f0f0;
	width: 100%;
}

section.main h1 {
	text-align: center;
	width: auto;
	margin: 0;
	padding: 25px 0;
	font-size: 4em;
}

div.header {
	width: auto; 
	margin: 0 auto;
	background-color: #BEE0FF;
	height: 50px;
}

div.login {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	background-color: #BEE0FF;
	vertical-align: 50%;
}

div.login ul {
	padding: 0px;
}

div.login li.logout{
	border: none;
}


div.menu {
	margin: 0 auto;
	width: 840px;
}

.menu_logged_in {
	margin: 0 auto;
	width: 700px;	
}

div.header ul {
	margin: 0 auto;
	overflow: hidden;
	height: 50px;
}

div.header ul li {
	float: left;
	list-style-type: none;
	margin: 0 0px;
	height: 50px;
	width: 200px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: center;
	line-height: 50px
}

div.header ul li:first {
	margin-left: 25px;
	background-color: green;
}

div.header ul li a {
	display: block;
	height: 50px;
	text-decoration: none;
	font-size: 1.5em;
}

div.header ul li:hover {
	background-color: #C0CDDB;
}

div.header ul li:hover  a {	
	color: #F0f0f0;
	list-style-type: none;
	text-decoration: none;
}

div.inner-body {
	height: auto;
	padding: 20px;
}

div.innerContainers {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
	border-radius: 5px;
	/*height: auto;*/
}

.testing {
	background-color: red;
}



div.wedstrijdVerslagContainer  {
	background-color: #EAEEF2;
	-webkit-box-shadow:0px 0px 2px 1px  #C4C1C1;
    box-shadow:0px 0px 2px 1px  #C4C1C1;
	width: 27%;
	/*max-width: 350px;*/
	/*max-height: 700px;*/
	/*height: auto;*/
	float: left;
	margin-left: 75px;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	margin-bottom: 25px;
	margin-top: 5px;
	padding-top: 3px;
}

div.footer {
	background-color: #5687BF;
}

/*Einde algemene styling*/

/*Start LOGIN PAGINA styling*/

section.login {
	-webkit-box-shadow:0px 0px 2px 1px #7696B3;
    box-shadow:0px 0px 2px 1px #7696B3;
    background-color: #EAEEF2;
    height: 800px;
}

div.inner-login-page {
	background-color: #C0CDDB;
	width: 500px;
	height: 400px;
	padding-top: 5%;
	margin: 0 auto;
}

form.form {
	/*width: 700px;*/
	margin: 0 auto;	
	padding-bottom: 25%;
}

form#form {
	width: 700px;
}

div.inner-login-page h1 {
	padding-bottom: 25px;
}

div.menu ul.menu_login li {
	display: inline-block;
	border-right: 1px solid black;
	padding: 2px 10px;
}

div.menu ul.menu_login li:last-child {
	border: none;
}

div.login_fail, p.wedstrijd_toevoegen {
	font-size: 1.1em;
	color: #E12121;
	font-weight: bold;
}


/*Einde LOGIN PAGINA styling*/


/*BEGIN SPCIFIEKE STYLING INDEX PAGINA*/

.nieuw_verslag {
	padding-bottom: 30px;
}

.wedstrijdverslag {
	padding: 5px;
	position: relative;
}

.wedstrijdverslag_header_wrapper {
	margin: -8px -5px;
	margin-bottom: 10px;
	background-color: rgb(190, 224, 255);
	height: 45px;
}

.wedstrijdverslag_header {
	position: absolute;
	top: 5px;
	left: 5px;
}

.wedstrijdverslag_datum {
	position: absolute;
	top: 5px;
	right: 5px;
}

.nieuw_verslag .nieuw_verslag_button a{
	background-color: #57EC57;
	width: 200px;
	height: 50px;
	margin: 0 auto;
	color: #fff;
	font-size: 1.2em;
	display: block;
	text-decoration: none;
	font-weight: bold;
	line-height: 50px;
}

.nieuw_verslag a:hover, .nieuw_verslag_button a:hover {
	background-color: #3DBC33;
}

.wijzig_wis_wrapper {
	position: relative;
	height: 25px;
}

.wedstrijdverslag_wijzig, .wedstrijdverslag_wis {
	position: absolute;
	bottom: 10px;
	font-size: 1.2em;
	padding: 3px;
	width: 75px;
	border-radius: 25px;
}

.wedstrijdverslag_wijzig:hover a, .wedstrijdverslag_wis:hover a {
	text-decoration: none;
	list-style-type: none;
	color: #fff;
	display: block;
}

.wedstrijdverslag_wijzig {
	left: 15px;
	background-color: #57EC57;
}

.wedstrijdverslag_wis {
	right: 15px;
	background-color: #E01919;
}
/* EINDE SPCIFIEKE STYLING INDEX PAGINA*/

/*BEGIN SPCIFIEKE STYLING spelers PAGINA*/

.table {
	border: 3px solid #C4C1C1;
	width: 605px;
	margin: 0 auto;
}

.table .table_head {
	font-size: 1.5em;
	font-weight: bolder;
}

.table .table_row {
	border: 1px solid red;
}

.table .table_row .table_cell {
	background-color: #EAEEF2;
	/*width: 150px;*/
	height: 50px;
	border: 1px solid #B0B1B8;
}

.table .table_row .table_naam {
	width: 250px;
}

.table .table_row #naam_knop a {
	display: block;
	height: 100%;
}

.table .table_row .naam_knop:hover {
	background-color: #C0CDDB;
}

.table .table_row .naam_knop:hover a {
	color: #F0f0f0;
	list-style-type: none;
	text-decoration: none;
}

tr.table_row:nth-child(even) .table_cell {
  background-color: #BEE0FF;
}

/* EINDE SPCIFIEKE STYLING spelers PAGINA*/

/*BEGIN SPCIFIEKE STYLING wijzig gegevens detail PAGINA*/

.gaTerug {
	background-color: #57EC57;
	color: #fff;
	padding: 5px;
	font-weight: bold;
}

.gaTerug:hover {
	color: #FFF;
	background-color: #3DBC33;
}

/* EINDE SPCIFIEKE STYLING wijzig gegevens PAGINA*/

/*BEGIN SPCIFIEKE STYLING spelers detail PAGINA*/

.terug_knop {
	width: 100px;
	height: 50px;
	margin: 25px auto;
	text-align: center;
	line-height: 50px;
	font-size: 1.2em;
	background-color: #BEE0FF;
	color: #fff;
}

.terug_knop a {
	display: block;
}

.terug_knop:hover {
	background-color: #C0CDDB;
}

.terug_knop:hover a {
	color: #F0f0f0;
	list-style-type: none;
	text-decoration: none;
}

.test {
	background-color: red;
}

.evaluatie {
	height: 50px;
}

/* EINDE SPCIFIEKE STYLING spelers detail PAGINA

/* begin styling voeg wedstrijd verslag toe */
#mceu_27 {
	height: 300px;
}



/* EINDE SPCIFIEKE STYLING voeg verslag toe PAGINA */