/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
h1,h2,h3,h4,h5,h6,p,div,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*PREFIX CLASSES : */

.center {
	text-align: center;
}

/*EINDE PREFIX CLASSES  */

body {
	margin: 0;
	padding: 0;
	font-family: !important 'sinkin_regular', Helvetica, Arial, sans-serif;
	font-size: 12px;
}

p {
	font-size: 1.3em;
	padding-bottom: 10px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h1,h2,h3 {
	padding-bottom: 15px;
	margin-bottom: 10px;
}

div.main {
	background-color: #F0f0f0;
	width: 100%;
	height: 800px;
}

div.main h1 {
	text-align: center;
	width: auto;
	margin: 0;
	padding: 25px 0;
	font-size: 4em;
}

div.header {
	width: auto; 
	margin: 0 auto;
	background-color: #BEE0FF;
	height: 50px;
}

div.menu {
	width: 500px;
	margin: 0 auto;
}

div.header ul {
	margin: 0 auto;
	overflow: hidden;
	height: 50px;
}

div.header ul li {
	float: left;
	padding: 8px 10px;
	list-style-type: none;
	margin: 0 0px;
	height: 50px;
}

div.header ul li:first {
	margin-left: 25px;
	background-color: green;
}

div.header ul li a {
	display: block;
	height: 50px;
	text-decoration: none;
	font-size: 1.5em;
}

div.header ul li:hover  {
	background-color: #A6C3DD;
	border-radius: 5%;
}

div.header ul li:hover  a {	
	color: #F0f0f0;
	list-style-type: none;
	text-decoration: none;
}

div.inner-body {
	height: auto;
	padding: 20px;
}

div.innerContainers {
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
	border-radius: 5px;
}

div.innerContainer {
	background-color: #EAEEF2;
	-webkit-box-shadow:0px 0px 2px 1px #7696B3;
    box-shadow:0px 0px 2px 1px #7696B3;
	width: 300px;
	float: left;
	margin-left: 75px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 50px;
	border-radius: 5px;
}